/* 
Responsive Breakpoints for Go4Taste Product Ads:

lg  (Large):            max-width 1200px and up - Desktops
md  (Medium):           max-width 1023px and up - Tablets
sm  (Small):            max-width 940px and up  - Tablets and large smartphones
xs  (Extra Small):      max-width 767px and up  - Small smartphones
xxs (Extra Extra Small):max-width 420px and up  - Very small smartphones

Note:
- These breakpoints are used to adjust layout and styles across various device sizes.
- Ensure to test the layout on actual devices or responsive design tools to verify appearance.
*/


/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.category .category-czeste-pytania {
    border: solid 1px;
    padding: 11px 15px 11px;
}

/* General container settings */
.site-inner, .before-header, .site-header .wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
  justify-content: space-between;
}

.widget-area.header-widget-area {
  justify-content: right;
}

.site-header .widget-area, .site-header .widget-area .genesis-nav-menu {
  width: 100%;
}

.site-inner, .site-header .wrap {
  max-width: 1280px;
  margin: 0 auto;
}

.site-inner {
  padding: 19px;
}

.site-header .wrap {
  padding: 40px 19px;
}

.site-inner::after, .site-header .wrap::after {
  display: none;
}

.site-title {
  font-size: unset;
  line-height: normal;
  margin: 0;
}

.site-title a img {
  margin: 5px 0 0 0;
}

.content-sidebar-wrap {
  display: flex;
  flex: 1;
  gap: 60px;
}

/* Column settings */
.sidebar-secondary {
  width: 160px;
  z-index: 1; /* Default z-index */
}

.content {
  flex: 1;
  max-width: 740px;
}

.sidebar-primary {
  width: 260px;
  z-index: 2; /* Ensure it is above default secondary sidebar */
}

/* Hamburger menu - hidden by default */
.hamburger-menu {
  display: none;
  cursor: pointer;
  margin: 0 10px 0 0;
  /* padding: 10px; */
  color: black;
  text-align: center;
  width: 30px;
  z-index: 1000;
}

/* Close menu - hidden by default */
.close-menu {
  display: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  color: black;
  text-align: center;
  width: 30px;
  position: fixed;
  top: 10px;
  right: 10px; /* Positioned in the top right corner */
  z-index: 1000;
}

/* Media queries for different breakpoints */
@media (max-width: 1200px) {
  .content-sidebar-wrap {
    gap: 40px;
  }
}

@media (max-width: 1023px) {

  #genesis-sidebar-primary {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 2; /* Ensure it is above other content when fixed */
  }

  body.wp-custom-logo #CookiebotWidget {
    bottom: 80px;
  }
  
}

@media (max-width: 940px) {

  #genesis-sidebar-secondary {
    display: none;
  }

  header .wrap>.title-area {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }
}

@media (max-width: 767px) {
  .site-inner {
    flex-direction: column;
  }

  .content-sidebar-wrap {
    flex-direction: column;
  }

  #genesis-sidebar-primary {
    width: 100%;
    text-align: center;
  }

  .site-inner {
    gap:unset;
  }
}

@media (max-width: 420px) {
  .content-sidebar-wrap {
    gap: 20px;
  }
}

/* Toggle sidebar visibility */
#genesis-sidebar-secondary.expanded {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white; /* Ensure it stands out when expanded */
  width: 100%;
  z-index: 3; /* Ensure it is above primary sidebar when expanded */
  overflow-y: auto;
  padding: 20px;
}

/* When the sidebar is expanded, show the close menu and hide the hamburger */
#genesis-sidebar-secondary.expanded ~ .hamburger-menu {
  display: none;
}

#genesis-sidebar-secondary.expanded ~ .close-menu {
  display: block;
}

.before-header {
  background-color: #f5f5f5;
}

/* Style the widget_search to look like an input field */
/* .widget_search {
  display: flex;
  align-items: center;
  border-radius: 15px; 
  border: 2px solid #ccc; 
  background-color: #fff; 
  box-sizing: border-box;
} */

/* Hide the actual input field and remove its border */
/* .search-form-input {
  border: none; 
  display: none; 
} */

/* Remove float and margin-top from .site-header .search-form */
/* .site-header .search-form {
  float: none; 
  margin-top: 0; 
} */

/* Style the search button to fit within the "input" field */
/* .search-form-submit {
  background-color: #007BFF; 
  color: #fff; 
  border: none; 
  border-radius: 15px; 
  padding: 8px 15px; 
  cursor: pointer; 
  font-size: 16px; 
  margin-left: auto; 
} */

/* .search-form-submit:hover {
  background-color: #0056b3; 
} */

/* Focus effect on the entire widget_search */
/* .widget_search:focus-within {
  border-color: #666; 
} */